<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edades y Estaturas</title>
</head>
<body>
    
    <h1>Grupo Nº 9</h1>
    <hr/>

    <center>
        <img src={{ href }} height=600/>
        <hr/>
    
        <form method="post">
            <h3>Ingrese una edad:</h3>
            <input name="text"/>

            <input type="submit"/>
        </form>
    </center>


</body>
</html>